body {
    background-color: black;
    margin: 0;
    color: white;
}
header {
    background-color: black;
    height: 10vh;
    width: 80%;
    margin: auto;
}
ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 25px;
}
nav {
    display: flex;
    justify-content: space-between;
}
main {
    width: 80%;
    background-color: black;
    height: 100%;
    margin: auto;
}
.mainbanner1 img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.mainbanner2 img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.mainbanner3 img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.title_cayphim {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 20px 8px 16px 0px;
}
.cayphim{
    display: flex;
    justify-content: space-between;
}
.phim_cayphim{

}
.anh_phim{
    border-radius: 10px;
}
.tieu_de_phim{
    display: flex;
    justify-content: center;
}
footer {
    width: 80%;
    background-color: black;
    height: 100%;
    margin: auto;
}
.thongtin{
    display: flex;
}
.anh_thongtin{
    
}
.anh{
    width: 20px;
}
