body{
    color: white;
}
header {
    background-color: white;
    width: 100%;
    
}
main{
    background-color: black;
}
.header-right{

}
.header-center{
    
}
.header-left{
    
}
.main-right{

}
.main-center{

}
.main-left{
    
}
footer{
    
}