body {
    background-color: black;
    margin: 0;
    color: white;
}
header {
    background-color: black;
    height: 10vh;
    width: 80%;
    margin: auto;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 25px;

}
nav {
    display: flex;
    justify-content: space-between;
}
.header1 li {
    font-size: 15px;
}
.anh_fptheader{
    width: 100px;
}
main {
    width: 80%;
    background-color: black;
    height: 100%;
    margin: auto;
}
.mainbanner1 img {
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 10px;
}
.mainbanner2 img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.mainbanner3 img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.banner_trailer{
    width: 40%;
    display: flex;
}
.banner_trailer_left {
    margin-right: 10px;
}
.banner_trailer_right {
    margin-right: 10px;
}
h3{
    padding: 0;
    margin: 0;
    margin-right: 10px;
    
}
.tenPhim{
    display: flex;
    padding: 0;
}
.tuoi{
    display: flex;
    padding: 0;
}
.thoiLuong{
    display: flex;
    padding: 0;
}
.quocGia{
    display: flex;
    padding: 0;
}
.linktrailer{
    display: flex;
}
.title_cayphim {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 20px 8px 16px 0px;
}
.cayphim{
    display: flex;
    justify-content: space-between;
}
.phim_cayphim{

}
.anh_phim{
    border-radius: 10px;
    width: 200px;
    height: 300px;
}
.tieu_de_phim{
    display: flex;
    justify-content: center;
}
footer {
    width: 80%;
    background-color: black;
    height: 100%;
    margin: auto;
}
.thongtin{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.congty{
    width: 18%;
}
.congty3{
    display: flex;
    justify-content: space-between;
}
.anhfptplay{
    width: 200px;
}
.anh_congty{
    width: 100px;
    margin-top: 10px;
}
.danhsach {
    list-style: none;
    padding-left: 0;
}
.danhsach li{
    font-size: 20px;
    color: grey;
}