
body {
    margin: 0px
}
nav {
    background-color: #0c4ca3;
}
.end {
    display: flex;
    justify-content: left;
    margin: 0px 150px;
}
.danhsach-phandau{
    display: flex;
    justify-content: center;
    list-style: none;
}
.border{
    
    border-right: 1px solid gray;
    padding: 15px;
}

.danhmuc-lienket{
    color: white;
    text-decoration: none;
    font-family: Roboto, Arial, Tahoma;
}

.banner-qc {
    display: flex;  
    justify-content: center;
}

.qc {
    display: flex;
    justify-content: space-between;
}

.tintuc {
    color: #0c4ca3;
    text-decoration: none;
    font-family: Roboto, Arial, Tahoma;   
    margin: 20px;
    
}

.banner-tintuc {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-right: 20px;
    width: 100%;
}

.tieude-tintuc {
    display: flex;
    justify-content: space-between;
    margin: 10px ;
    flex-direction: column;
    overflow: hidden;  
    box-sizing: border-box;  
}

.anh-tintuc img {
    width: 300px;   
    height: 200px; 
}
.noidung-tintuc{
    width: 250px; 
    height: auto;  
    text-align: left;     
    vertical-align: top;
}
header {
    border-bottom: 15px solid #f1f1f2;
}
h1{
    font-size: 30px;
    display: inline-block;
    color: #004b9b;
    border-bottom: 5px solid #004b9b;
    display: inline-block;
    vertical-align: top; 
    margin-right: 20%;
}
.nen-tintuc {
    background-color: rgb(184, 183, 183);
}
.noidung-tintuc{
    margin: 5%;
}
footer {
    color: white;
}
